{% extends 'base.html.twig' %}

{% block header_title %}<h1>Inscription</h1>{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'col-12 col-md-10 col-lg-7 mx-auto mb-5'}}) }}
        <div class="input-field mb-3">
	        {{ form_label(form.name, 'Nom') }}
	        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
	        <span class="error">{{ form_errors(form.name) }}</span>
        </div>
        <div class="input-field mb-3">
	        {{ form_label(form.email, 'Email') }}
	        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
	        <span class="error">{{ form_errors(form.email) }}</span>
        </div>
        <div class="input-field mb-3">
	        {{ form_label(form.password.first, 'Mot de passe') }}
	        {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
            {{ form_label(form.password.second, 'Confirmation de mot de passe') }}
	        {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
	        <input type="submit" class="btn btn-success" value="S'inscrire" formnovalidate>
        </div>
    {{ form_end(form) }}

    <div class="col-12 col-md-10 col-lg-7 mx-auto mb-5">
        <a href="{{ path('login') }}" class=" text-decoration-none">Se connecter</a>
    </div>
{% endblock %}
