{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Liste des tâches <span>({{ totalTasks|length }})</span></h1>
{% endblock %}

{% block body %}
	<div class="row">
		{% for task in tasks %}
			<div class="col-sm-12 col-lg-4 col-md-6 mb-2">
				<div class="card">
					<div class="{{ task.createdBy ? 'card-header' : 'card-header text-bg-danger' }}">
						<div class="dropdown ms-auto d-flex justify-content-end">
							<i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
							<ul class="dropdown-menu">
								<li>
									<a href="{{ path('task_edit', {'id' : task.id }) }}" class="dropdown-item mx-2 link-underline-light">Modifier</a>
								</li>
								<li>
									<a href="{{ path('task_delete', {'id' : task.id }) }}" class="dropdown-item mx-2 link-underline-light">Supprimer</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body">
						<div class="d-flex justify-content-between mb-3">
							<h5 class="card-title">
							    <a href="{{ path('task_show', {'id' : task.id }) }}" class="text-decoration-none link-dark">{{ task.title }}</a>
							</h5>
							{% if task.isDone %}
								<span>
									<i class="bi bi-check-circle"></i>
								</span>
							{% else %}
								<span>
									<i class="bi bi-x-circle"></i>
								</span>
							{% endif %}
						</div>
						<p class="card-text mb-4">{{ task.content }}</p>
						<div class="d-flex justify-content-between">
							{% if task.createdBy %}
								<p>
									<small class="text-muted">
										De :
										{{ task.createdBy }}
									</small>
								</p>
							{% else %}
								<p>De : anonyme</p>
							{% endif %}

							{% if not task.isDone %}
								<a href="{{ path('task_toggle', {'id' : task.id }) }}" class="btn btn-info">
									Marquer comme faite
								</a>
							{% else %}
								<a href="{{ path('task_toggle', {'id' : task.id }) }}" class="btn btn-warning">
									Marquer non terminée
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% else %}
			{% if 'done' %}
				<div class="alert alert-warning" role="alert">
					Il n'y a pas encore de tâche terminée.
					<a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
				</div>
			{% else %}
				<div class="alert alert-warning" role="alert">
					Il n'y a pas encore de tâche enregistrée.
					<a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="navigation d-flex justify-content-center my-8">
		{{ knp_pagination_render(tasks) }}
	</div>
{% endblock %}
