{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>
		<strong>{{ task.title }}</strong>
	</h1>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12 col-md-6 offset-md-3">
			<div class="card">
				<div class="card-header">
					<div class="dropdown ms-auto d-flex justify-content-end">
						<i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
						<ul class="dropdown-menu">
							<li>
								<a href="{{ path('task_edit', {'id' : task.id }) }}" class="dropdown-item mx-2 link-underline-light">Modifier</a>
							</li>
							<li>
								<a href="{{ path('task_delete', {'id' : task.id }) }}" class="dropdown-item mx-2 link-underline-light">Supprimer</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<h5 class="card-title">{{ task.title }}</h5>
						{% if task.isDone %}
							<span>
								<i class="bi bi-check-circle"></i>
							</span>
						{% else %}
							<span>
								<i class="bi bi-x-circle"></i>
							</span>
						{% endif %}
					</div>
					<p class="card-text">{{ task.content }}</p>
					<div class="d-flex justify-content-end">
						{% if not task.isDone %}
							<a href="{{ path('task_toggle', {'id' : task.id }) }}" class="btn btn-info">
								Marquer comme faite
							</a>
						{% else %}
							<a href="{{ path('task_toggle', {'id' : task.id }) }}" class="btn btn-warning">
								Marquer non terminée
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
